{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form class="d-flex" method="POST">
                        {% csrf_token %}
                        <input type="text" name="query" class="form-control flex-grow-1" placeholder="Search..."
                               {% if query_string %}value="{{ query_string|safe }}"{% endif %}>
                        <button class="btn btn-primary ml-2" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for result in search_results %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{ result.video_title }}</h5>
                                <iframe src="https://www.youtube.com/embed/{{ result.external_video_id }}"
                                        style="border: none;"></iframe>
                            </div>

                            <div class="col">
                                <p class="card-text">
                                    <small class="text-muted">{{ result.view_count|format_views }} views</small><br>
                                    {% for tag in result.tags|split_tags %}
                                        <span class="badge {% if tag == query_string %}badge-danger{% else %}badge-secondary{% endif %}">{{ tag }}</span>
                                    {% endfor %}
                                </p>

                                <p>
                                    Liked by <span class="badge badge-primary">{{  result.calculated_ratio|percentify }}</span> of viewers
                                </p>
                                <p>
                                    <span class="badge {% if result.above_avg %}badge-success{% else %}badge-danger{% endif %}">{% if result.above_avg %}above{% else %}below{% endif %}</span> this video's region average
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}